{% extends "main/base.html" %}

{% block title %}Add a comment{% endblock %}

{% block content %}
{% if comment %}
<h1>Your comment has been added.</h1>
<a href="{{ post.get_absolute_url }}" style="background-color: #A259FF; width: 200px; height: 40px; text-align: center; border-radius: 10px; color: #fff;">
    <p style="color: #fff; font-size: 12px; line-height: 40px; margin: 0;">Back to the post</p>
</a>
{% else %}
{% include "main/posts/includes/comment_form.html" %}
{% endif %}

{% endblock %}
