{% extends 'main/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

{% block title  %} My Blog {% endblock %}

{% block content %}
    {% for post in posts %}
    <h2>
        <a style="color: #A259FF;" href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p style="color: #fff;" class="tags">Tags: {{ post.tags.all|join:", " }}</p>
    <p class="date" style="color: #fff;">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <p style="color: #fff;">{{ post.body|truncatewords:30|linebreaks }}</p>
    {% endfor %}
    {% include 'main/paginator.html' with page=posts %}
    {% endblock %}