<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" style="font-size: 9px;">Previous</a>
        {% endif %}
        <span class="current" style="color: #fff;">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %}
        <a style="color: #A259FF; font-size: 9px;" href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
